* text=auto eol=lf

*.absp text linguist-language=JSON linguist-detectable=true diff=json

.github                 export-ignore
.vscode                 export-ignore
.clang-format           export-ignore
.editorconfig           export-ignore
.flake8                 export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore
.markdownlint-cli2.yaml export-ignore
.python-version         export-ignore
AGENTS.md               export-ignore
typos.toml              export-ignore
